{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 5
  },
  "plugins": ["@typescript-eslint", "react"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
